.preview-card{
 height: 25em;
 align-items: center;
  .card-image{

    .image{
      width: 200px;
      display: block;
      margin: auto;
      object-fit: cover;
      transition-duration: 1s;
      &:hover{
        transform: scale(1.5)
      }
    }
  }

  @media (max-width: 800px){
    height: 5em;
    align-items: center;
    grid-template-columns: 1fr;
    .card-image{
      margin-left: 1em;
      .image{
        display: block;
        height: 6rem;
        margin: 0 auto;
        width: 6rem;
        object-fit: cover;
      }
    }
  }
}
