.preview{
  h2{
    color: rgba(36, 0, 240, 0.856);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
  }
 .header{
  text-align: center;
  padding: 0.5em 0;
 }
 @media (max-width: 1020px){
  .header{
  display: flex;
  flex-direction: row;
  }
 }
 @media (max-width: 800px){
  .header{
  display: flex;
  flex-direction: row;
  }
 }

 @media (max-width: 420px){
  h1{
   height: 0px;
  }
  .header{
   display: flex;
   flex-direction: row;
   }
 }
 @media (max-width: 320px){
  h1{
   margin-top: 0px;
   height: 0px;
  }
 }
}