.project-cards{
 background: rgb(238,174,202);
background: linear-gradient(63deg, rgba(238,174,202,1) 0%, rgba(0,0,0,0.4430147058823529) 100%);
padding-top: 3em;
padding-bottom: 45vh;
overflow-y: hidden;

 h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Bebas Neue', cursive;
 font-size: 1.2em;
  font-size: 5em;
  &.topic{
   color: azure;
   font-weight: bold;
  }
 }
 
}